<app-header></app-header>
<p-toast />
<p-confirmdialog />
    <form [formGroup]="clienteSearchForm">
        <p-panel>

            <div class="card flex justify-center">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
            </div>

            <div class="flex border-round bg-gray-100 m-1 border-300">
                <div class="w-12 flex align-items-center justify-content-center">
                    <div class="formgrid grid w-12 flex pt-5">
                        <div class="field col-12 md:col-3">
                            <p-floatLabel class="w-full" variant="on">
                                <input type="text" 
                                        pInputText 
                                        formControlName="razonSocialSearch" 
                                        class="w-full" />
                                <label for="razonSocialSearch">Razon social</label>
                            </p-floatLabel>
                        </div>
     
                        <div class="field col-12 md:col-2">
                            <p-floatLabel class="w-full" variant="on">
                                <p-select 
                                    formControlName="estadoSearch"
                                    inputId="estadoSearch"
                                    [options]="estadoRegistroOptions"
                                    optionLabel="label"
                                    optionValue="value" 
                                    placeholder="Selecciona estado" 
                                    class="w-full"/>
                                <label for="estadoSearch">Estado</label>
                            </p-floatLabel>
                        </div>
                        <div class="field col-12 md:col-4">
                        </div>
                        <div class="field col-12 md:col-1 text-right">
                            <p-button label="Buscar" 
                                    pTooltip="Buscar" 
                                    [outlined]="true" 
                                    severity="secondary" 
                                    (onClick)="busqueda();"
                                    styleClass="w-full"/>
                        </div>
                        <div class="field col-12 md:col-1 text-right">
                            <p-button label="Limpiar" 
                                    pTooltip="Limpiar" 
                                    [outlined]="true" 
                                    severity="secondary" 
                                    (onClick)="clearForm();"
                                    styleClass="w-full"/>
                        </div>
                        <div class="field col-12 md:col-1 text-right">
                            <p-button label="Agregar" 
                                    pTooltip="Agregar" 
                                    [outlined]="true" 
                                    severity="secondary" 
                                    (onClick)="navigateToFormEntorno(null)"
                                    styleClass="w-full"/>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="flex border-round p-1 m-1 border-300">
                <div class="w-12 p-1 flex align-items-center justify-content-center">
                    <p-table
                        [value]="clientes"
                        selectionMode="single" 
                        class="w-full"
                        [styleClass]="'p-datatable-sm'">
                        <ng-template pTemplate="header">
                            <tr>
                                <th id="razon" style="width:35%">Razon social</th>
                                <th id="ruc" style="width:15%">Ruc</th>
                                <th id="tipoCliente" style="width:15%">Tipo cliente</th>
                                <th id="estado" style="width:10%">Estado</th>
                                <th id="acciones" style="width:25%; text-align: center;">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-cliente>
                            <tr>
                                <td>{{cliente.razonSocial}}</td>
                                <td>{{cliente.ruc}}</td>
                                <td>{{cliente.tipoCliente.descripcion}}</td>
                                <td>{{cliente.estadoRegistro | estadoRegistroLabel }}</td>
                                <td style="text-align: center;">
                                    <p-button icon="pi pi-database" 
                                            [rounded]="true" 
                                            [text]="true" 
                                            type="button" 
                                            pRipple
                                            severity="secondary" 
                                            pTooltip="Registrar datasource de cliente" 
                                            tooltipPosition="top"
                                            [disabled]="esBotonDeshabilitado(cliente)" 
                                            (onClick)="mostrarClienteDatasource(cliente.codigo)" />

                                    <p-button icon="pi pi-arrow-right-arrow-left" 
                                            [rounded]="true" 
                                            [text]="true" 
                                            type="button" 
                                            pRipple
                                            severity="secondary" 
                                            pTooltip="Vincular cliente aplicacion entorno" 
                                            tooltipPosition="top"
                                            [disabled]="esBotonDeshabilitado(cliente)" 
                                            (onClick)="mostrarVinculoClienteAplicacionEntorno(cliente.codigo)" />

                                    <p-button icon="pi pi-building" 
                                            [rounded]="true" 
                                            [text]="true" 
                                            type="button" 
                                            pRipple
                                            severity="secondary" 
                                            pTooltip="Vincular proveedores" 
                                            tooltipPosition="top"
                                            [disabled]="esBotonDeshabilitado(cliente)" 
                                            (onClick)="mostrarModalClienteProveedor(cliente.codigo)" />

                                    <p-button icon="pi pi-money-bill" 
                                            [rounded]="true" 
                                            [text]="true" 
                                            type="button" 
                                            pRipple
                                            severity="secondary" 
                                            pTooltip="Vincular instituciones financieras" 
                                            tooltipPosition="top"
                                            [disabled]="esBotonDeshabilitado(cliente)" 
                                            (onClick)="mostrarModalClienteInstitucionFinanciera(cliente.codigo)" />

                                    <p-button icon="pi pi-file-edit" 
                                            [rounded]="true" 
                                            [text]="true" 
                                            type="button" 
                                            pRipple
                                            severity="secondary"
                                            pTooltip="Editar" 
                                            tooltipPosition="top" 
                                            [disabled]="esBotonDeshabilitado(cliente)" 
                                            (onClick)="navigateToFormEntorno(cliente.codigo)"/>
                                    <p-button icon="pi pi-trash" 
                                            [rounded]="true" 
                                            [text]="true" 
                                            type="button" 
                                            pRipple
                                            severity="secondary"
                                            pTooltip="Dar de baja" 
                                            tooltipPosition="left"
                                            [disabled]="esBotonDeshabilitado(cliente)" 
                                            (onClick)="eliminarFila($event, cliente)"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    
                </div> 
            </div>
            <app-paginator *ngIf="paginator" [paginatorInput] = "paginator" (paginatorOutput)="cambioPagina($event)"></app-paginator>
        </p-panel>
    </form>

    <p-dialog [modal]="true" [(visible)]="mostrarClienteInstitucionFinanciera" [style]="{ width: '50rem'}">
        <app-cliente-institucion-financiera (cerrarModal)="cerrarModalClienteInstitucionFinanciera()"></app-cliente-institucion-financiera>
        <div class="flex justify-content-end gap-2">
        </div>
    </p-dialog>

    <p-dialog [modal]="true" [(visible)]="mostrarClienteProveedor" [style]="{ width: '50rem'}">
        <app-cliente-proveedor (cerrarModal)="cerrarModalClienteProveedor()"></app-cliente-proveedor>
        <div class="flex justify-content-end gap-2">
        </div>
    </p-dialog>