/* Font Poppins */
@import "../node_modules/@fontsource/poppins/latin.css";

.custom-header th {
    background-color: #dddcdc; /* Cambia el color de fondo */
    color: rgb(5, 5, 5);              /* Cambia el color del texto */
}

body {
    font-family: 'Poppins', sans-serif;
}